.container {
    background-color: #ededee;
    font-family: "Lexend", sans-serif;
    color: #323949;
    padding: 40px 16px;
}

/* Header Section */
.header {
    text-align: center;
    margin-bottom: 48px;
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
    color: #323949;
    font-family: var(--font-geist-mono), sans-serif;
}

.subtitle {
    margin-top: 8px;
    font-size: 0.8rem;
    color: #323949;
    width: 70%;
    text-align: center;
    font-family: var(--font-geist-mono), sans-serif;
    margin: auto;
}

/* Wrapper for the two cards */
.cardsWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Card Style */
.card {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.sectionTitle {
    font-size: 1rem;
    font-weight: 800;
    color: #323949;
    font-family: var(--font-geist-mono), sans-serif;
    margin-bottom: 1rem;
}

/* Contact Info Section */
.contactList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.contactItem {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: #1f2937;
    text-decoration: none;
    transition: color 0.2s ease;
}

.contactItem:hover {
    color: #1193d4;
}

.icon {
    color: #1193d4;
    font-size: 1.5rem;
}

/* Social Icons */
.socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.socialLink {
    color: #4b5563;
    transition: color 0.2s ease;
}

.socialLink:hover {
    color: #1193d4;
}

.svgIcon {
    height: 1.5rem;
    width: 1.5rem;
}

/* RESPONSIVE */
@media (min-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .cardsWrapper {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
    }

    .card {
        flex: 1;
        max-width: 500px;
    }

    .title {
        font-size: 2.75rem;
    }

    .subtitle {
        font-size: 1rem;
    }
}